.wrapper {
  margin: 40px auto;
}

.tabs {
  clear: both;
  display: flex;
  flex-wrap: wrap;
}

.tab {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: none;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  bottom: -1px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: initial;
  z-index: 1;
}

.tab.is-active {
  border-color: #ccc;
  border-width: 1px;
  border-bottom-color: #fff;
}

.tab-trigger {
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
}

.tab-panel {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 10px;
  height: 0;
  order: 1;
  overflow: hidden;
  width: 100%;
}

.tab-panel.is-active {
  height: auto;
}

.tab-panel:not(.is-active) {
  border: 0;
  height: 0 !important;
  visibility: hidden;
}
